.sections .container {
  padding: 30px;
}
.sections .container h1 {
  font-size: 3.5rem;
  line-height: 1.2;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}
.sections .container h1 span {
  color: #e31e24;
}
.sections__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 30px;
  gap: 20px;
  margin-bottom: 50px;
}
.sections__list .section {
  height: 500px;
  padding: 30px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
  position: relative;
  color: #fff;
}
.sections__list .section:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom right, #000202, #141414);
  opacity: 0.6;
  border-radius: 10px;
}
.sections__list .section.bjj {
  color: #fff;
  text-shadow: 1px 1px 2px #0c0cc4, 0 0 1em #fff, 0 0 0.2em #fff;
}
.sections__list .section.box {
  color: #fff;
  text-shadow: 1px 1px 2px #e31e24, 0 0 1em #fff, 0 0 0.2em #fff;
}
.sections__list .section.mma {
  color: #fff;
  text-shadow: 1px 1px 2px #eee67d, 0 0 1em #fff, 0 0 0.2em #fff;
}
.sections__list .section.thai {
  color: #fff;
  text-shadow: 1px 1px 2px #0f3f0f, 0 0 1em #fff, 0 0 0.2em #fff;
}
.sections__list .section:hover {
  transform: scale(1.03);
}
.sections__list .section-desc {
  position: relative;
  z-index: 1;
}
.sections__list .section-desc .title {
  font-size: 3rem;
  line-height: 1.2;
  font-weight: 500;
  text-align: inherit;
  margin-bottom: 15px;
}
.sections__list .section-desc .desc {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
  text-align: inherit;
}
.sections__list .section-other {
  margin-top: 80px;
}
.sections__list .section-params {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}
.sections__list .section-params .param {
  height: 40px;
  display: flex;
  align-items: center;
}
.sections__list .section-params .param span {
  font-size: 1rem;
  line-height: 1.2;
  font-weight: 500;
  text-align: inherit;
}
.sections__list .section-params .param .icon {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #fff;
  border-radius: 50%;
  margin-right: 10px;
}
.sections__list .section-params .param .icon svg {
  width: 20px;
  height: 20px;
}
.sections__list .section-button {
  font-family: "Jost";
}
.sections__list .section-button.box {
  background-color: #e31e24;
}
.sections__list .section-button.bjj {
  background-color: #0c0cc4;
}
.sections__list .section-button.mma {
  background-color: #eee67d;
}
.sections__list .section-button.thai {
  background-color: #0f3f0f;
}
.sections__banner {
  padding: 70px 0;
  background-position: bottom -410px center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 50px;
}
.sections__banner .container {
  display: flex;
  justify-content: space-between;
}
.sections__banner-title {
  font-size: 3.5rem;
  line-height: 1.2;
  font-weight: 500;
  text-align: inherit;
  text-transform: uppercase;
  color: #fff;
  width: 50%;
}
.sections__banner-title span {
  color: #e31e24;
}
.sections__banner-desc {
  width: 45%;
}
.sections__banner-desc .desc {
  font-size: 1.375rem;
  line-height: 1.37;
  font-weight: 400;
  text-align: inherit;
  color: #fff;
  display: block;
  margin-bottom: 40px;
}
.sections__banner-desc button {
  background-color: #fff;
  padding: 0;
}
.sections__banner-desc button:hover {
  background-color: #eeeeee;
}
.sections__banner-desc button .gym-link {
  width: 100%;
  height: 100%;
  padding: 8px;
  text-decoration: none;
  padding: 16px;
  font-family: "Jost";
}
.sections__banner-desc button .gym-link span {
  color: #000;
  font-size: 1.175rem;
  line-height: 1.37;
  font-weight: 400;
  text-align: inherit;
}
.sections__links .section {
  height: 400px;
}
.sections__links .section .link {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  text-decoration: none;
  padding: 16px;
  font-family: "Jost";
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  color: #fff;
}
.sections__links .section .link span {
  color: #fff;
  font-size: 1.175rem;
  line-height: 1.37;
  font-weight: 400;
  text-align: inherit;
}
.sections__links .section .link .section-other {
  margin-top: 0;
}
.sections__links .section .link .section-other button {
  background-color: #e31e24;
}
.sections__links .section .link .section-other button:hover {
  background-color: #d9454a;
}/*# sourceMappingURL=Sections.css.map */